<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Maps</title>
	<link rel="stylesheet" href="normalize.css">
	<style>
		.map{width: 800px;height: 600px;padding: 20px 0;}
	</style>

	<script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="underscore-min.js"></script>
	<script src="map.js"></script>
	<script>
		$(window).load(function () {
			//var mSect = $('#maps').maps();
			/*mSect = maps('#maps', { data: '[{"select":"время","value":"","price":"","coords":"[[[56.32011143681111,43.98629391528319],[56.322043086345914,43.99642193652342],[56.318275086394884,43.99779522753904],[56.31717800357284,43.98839676715086],[56.319181348332755,43.9853068623657],[56.32011143681111,43.98629391528319]]]"},{"select":"время","value":"","price":"","coords":"[[[56.320683787644306,43.9847489628906],[56.322114627036775,43.99552071429442],[56.31882361593738,43.99766648150633],[56.320683787644306,43.9847489628906]]]"},{"select":"время","value":"","price":"","coords":"[[[56.32051685287455,43.99195874072263],[56.321947698548726,44.00157177783201],[56.31996834775669,44.00195801593014],[56.31996834775669,43.990199211608875],[56.32092226461552,43.988611343872044],[56.32304464376867,43.986079338561986],[56.32051685287455,43.99195874072263]]]"}]'});*/
			mSect = maps('#maps', {
					data: [
							{
								select:"сумма заказа",
								value:"sdsf",
								price:"sdfsdf",
								coords:"[[[56.32011143681111,43.98629391528319],[56.322043086345914,43.99642193652342],[56.318275086394884,43.99779522753904],[56.31717800357284,43.98839676715086],[56.319181348332755,43.9853068623657],[56.32011143681111,43.98629391528319]]]"},
							{
								select:"время",
								value:"",
								price:"",
								coords:"[[[56.320683787644306,43.9847489628906],[56.322114627036775,43.99552071429442],[56.31882361593738,43.99766648150633],[56.320683787644306,43.9847489628906]]]"},{"select":"время","value":"","price":"","coords":"[[[56.32051685287455,43.99195874072263],[56.321947698548726,44.00157177783201],[56.31996834775669,44.00195801593014],[56.31996834775669,43.990199211608875],[56.32092226461552,43.988611343872044],[56.32304464376867,43.986079338561986],[56.32051685287455,43.99195874072263]]]"
							}
						]
				});
		});
	</script>
</head>
<body>

<section id="maps">

	
	<button class="btn tcenter" id="addMap">Добавить карту</button>

</section>

<script type="text" id="mapItem">
	<div class="map-wrap-<%= id %> map-wrap">
		<button class="btn addPolygon hide" >Добавить полигон</button>
		<button class="btn accept hide" >Принять</button>
		<button class="btn cansel hide" >Отмена</button>
		<button class="btn clear hide" >Очистить</button>
		
		<button class="btn delMap" >Удалить карту</button>
		<div id="map-<%= id %>" class="map"></div>
		
		<select class="inputName" id="select-<%= id %>" name="select[<%= id %>]" >
			<option value="время">время</option >
			<option value="сумма заказа">сумма заказа</option>
		</select>
		<input type="text" class="priceInput" id="priceInputName-<%= id %>" name="priceInputName[<%= id %>]" value="<%= price %>" />
		<input type="text" class="valInput" id="valInputName-<%= id %>" name="valInputName[<%= id %>]" value="<%= value %>" />
		<input type="text" class="hiddenInput" id="hiddenInputName-<%= id %> " name="hiddenInputName[<%= id %>]" value="<%= coords %>" />
	
	</div>
</script>

</body>
</html>