button, .button {
  background-color: #2199e8;
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #fefefe;
  cursor: pointer;
  display: block;
  margin: 0 0 16px;
  outline: #fefefe none 0;
  padding: 12px 14px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
  border-radius: 0;
  border: 1px solid #afafaf;
  box-shadow: rgba(10, 10, 10, .1) 0 1px 2px 0 inset;
  cursor: auto;
  display: block;
  height: 39px;
  letter-spacing: normal;
  line-height: 18px;
  margin: 0 0 16px;
  padding: 8px;
  text-align: start;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  word-spacing: 0;
  width: 100%;
}

select {
  -webkit-appearance: none;
  align-items: center;
  background-origin: content-box;
  background: #fefefe;
  background-size: 9px 6px;
  border: 1px solid #cacaca;
  box-sizing: border-box;
  color: #0a0a0a;
  cursor: default;
  height: 39px;
  letter-spacing: normal;
  line-height: 18px;
  margin: 0 0 16px;
  padding: 8px 24px 8px 8px;
  white-space: pre;
  width: 100%;
  word-spacing: 0;
}