@import "normalize";
@import "inputs";

h2 {
  margin: 0;
}

.grid-frame,
.grid-block {
  display: flex;
  height: auto;
  position: relative;
  overflow: hidden;
  flex: 1 1;
  flex-flow: row wrap;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  order: 0;
  overflow-y: auto;
  backface-visibility: hidden;
  &.vertical {
    flex-flow: column nowrap;
    align-items: stretch;
  }

  &.space-around {
    justify-content: space-around;
  }

  &.shrink {
    flex: 0 0 auto;
  }

  &.wrap {
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.grid-content {
  display: block;
  padding: 0 1rem;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  flex: 1 1;
  &.collapse {
    padding: 0;
  }
}

.content {
  padding-top: 1rem;
}

.full-width {
  display: block;
  width: 100%;
}

.generate-blocks(10);

.generate-blocks(@n, @i: 1) when (@i =< @n) {
  .block-@{i} {
    flex: 0 0 (@i * 100% / @n);
  }
  .generate-blocks(@n, (@i + 1));
}

.menu-bar {
  overflow-x: hidden;
  flex-flow: row nowrap;
  display: flex;
  align-items: stretch;
  margin: 0;
  list-style-type: none;
  background: #232323;
  li {
    flex: 1 0 auto;
    align-items: center;
    a, span {
      flex-flow: column nowrap;
      display: flex;
      align-items: center;
      padding: 1rem;
      font-size: 1rem;
      line-height: 1;
      color: #fff;
    }
    a {
      &:hover, &.is-active {
        background: #323232;
        color: #fff;
      }
    }
  }
}

form {
  display: block;
  width: 100%;
}

.type-selector {
  height: 60px;
  padding-top: 10px;
  padding-right: 14px;
  justify-content: flex-end;
  flex: 1 0 auto;
  background-color: #232323;
}
.GMap {
  width: 100%;
  min-height: 500px;
  height: calc(~"100vh - 48px + 60px");
  flex: 1 0 auto;
}
.profile {
  height: calc(~"100vh - 58px + 48px")
}

.list-link {
  box-shadow: 0 1px 0 0 #777777;
  &:last-child {
    box-shadow: none;
  }
  a {
    padding: 12px 0;
    color: #2199e8;
  }
}